{% extends "model-page.html" %}

{% block content %}

<h2>Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <label>Título</label>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
    <br>
    <input type="text" name="titulo" size="23" value="{{ evento.titulo }}">
    <br>
    <label>Data do Evento:</label>
    <br>
    <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
    <br>
    <label>Descrição</label>
    <br>
    <textarea name="descricao" rows="5" cols="24">{{ evento.descricao }}</textarea>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>

{% endblock %}